<%= simple_form_for(@landmark, html: { class: 'form-horizontal' }) do |f| %>
  <% if landmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landmark.errors.count, "error") %> prohibited this landmark from being saved:</h2>

      <ul>
      <% landmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :landmark_type_id %>
  </div>

  <div class="form-group">
    <%= f.label 'Description' %>
  </div>

  <div class="form-group">
    <%= f.text_area :description, rows: 7, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :short_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :picture_url %>
  </div>

  <div class="form-group">
    <%= f.input :street_number %>
  </div>

  <div class="form-group">
    <%= f.input :street %>
  </div>

  <div class="form-group">
    <%= f.input :city %>
  </div>

  <div class="form-group">
    <%= f.input :state %>
  </div>

  <div class="form-group">
    <%= f.input :latitude %>
  </div>

  <div class="form-group">
    <%= f.input :longitude %>
  </div>

  <br />
  <%= f.submit 'Create Landmark', class: 'btn btn-primary' %>
<% end %>
