<%= simple_form_for(@landmark, html: { class: 'form-horizontal' }) do |f| %>
  <% if landmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landmark.errors.count, "error") %> prohibited this landmark from being saved:</h2>

      <ul>
      <% landmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label 'Description' %>
  <%= f.text_area :description, rows: 7 %>
  <%= f.input :short_description %>
  <%= f.input :landmark_type %>
  <%= f.input :picture_url %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :latitude %>
  <%= f.input :longitude %>

  <br />
  <%= f.submit 'Submit', class: 'button' %>
<% end %>
