<p id="notice"><%= notice %></p>

<p>
  <strong>Landmark type:</strong>
  <%= @landmark.landmark_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @landmark.description %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @landmark.short_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @landmark.address_id %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @landmark.picture_url %>
</p>

<%= link_to 'Edit', edit_landmark_path(@landmark) %> |
<%= link_to 'Back', landmarks_path %>
