<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Landmark type:</strong>
      <%= @landmark.landmark_type %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @landmark.description %>
    </p>

    <p>
      <strong>Short description:</strong>
      <%= @landmark.short_description %>
    </p>

    <p>
      <strong>Picture url:</strong>
      <%= @landmark.image_url %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @landmark.address %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @landmark.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @landmark.state %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= @landmark.latitude %>
    </p>

    <p>
      <strong>Longituds:</strong>
      <%= @landmark.longitude %>
    </p>

    <%= link_to 'Edit', edit_landmark_path(@landmark), class: 'button' %>
  </div>
</div>
