    <div class="row">
      <div class="small-12 columns main-section margin-top">
        <h1>Landmarks</h1>

        <% @landmarks.each do |landmark| %>
          <div class="landmark-item">
            <section>
                <h3><%= landmark.description %></h3>
                <p><%= landmark.short_description %></p>
                <span class="address"><%= landmark.address %>
                  <%= landmark.city %>
                  <%= landmark.state %>
                </span>
                <p> <%= landmark.landmark_type %></p>
              <div class="button small-btn">See more</div>
            </section>
          </div>
        <% end %>
      </div>
    </div>
