<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Street Number:</strong>
      <%= @address.street_number %>
    </p>

    <p>
      <strong>Street:</strong>
      <%= @address.street %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @address.city %>
    </p>

    <p>
      <strong>state:</strong>
      <%= @address.state %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= @address.latitude %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= @address.longitude %>
    </p>

    <%= link_to 'Edit', edit_address_path(@address), class: 'btn btn-default' %> |
    <%= link_to 'Back', addresses_path, class: 'btn btn-default' %>
  </div>
</div>
