<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="cultureApp" ng-controller="LandmarkController">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
      html, body{
        height: 100%;
        margin: 0px;
        padding: 0px
      }

      #map-canva {
        height: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
      }
    </style>

    <script type="text/javascript">
      window.cmconfig = {
        site: "<%= get_site()  %>"
      };
    </script>

    <script type="text/ng-template" id="listView.html">
      <div id="list_view" >
        <div class="landmark-item" ng-repeat="landmark in landmarks">
          <section>
          <h3>{{ landmark.description }}</h3>
          <p>{{ landmark.short_description }}</p>
          <span class="address">{{ landmark.address }}
            {{ landmark.city }}
            {{ landmark.state }}
          </span>
          <p> {{ landmark.landmark_type }}</p>
          <div class="button small-btn">See more</div>
          </section>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="mapView.html">
      <google-map center="map.center" zoom="map.zoom" id="map-canvas" options='map.mapOptions'>
      <marker coords='landmark' ng-repeat="landmark in landmarks" options="map.marker_options" icon="map.marker_image" click="landmarkClick(landmark)" >	

      </marker>
      </google-map>
    </script>

    <script type="text/ng-template" id="myModalContent.html">
      <section>
      <img id="landmark_img" src="{{landmark.image_url}}" />
      <h3>{{ landmark.description }}</h3>
      <p>{{ landmark.short_description }}</p>
      <span class="address">{{ landmark.address }}
        {{ landmark.city }}
        {{ landmark.state }}
      </span>
      <p> {{ landmark.landmark_type }}</p>
      </section>
      <button class="button" ng-click="reload()">OK</button>
      <a class="close-reveal-modal" ng-click="reload()">&#215;</a>
    </script>

    <title>Culture Map</title>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
